body {
  /* background-image: url('/image/bg.jpeg') no-repeat center center fixed; */
  background-image: url('/image/bg3.jpeg');
  background-color: #28323C;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden; 
  overflow-y: hidden;
}
p {
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.icon {
  display: flex;
  align-self: center;
  padding-left: 15px;
  pointer-events: none;
}
/* Dock */
.Dock {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 500px;
  bottom: 10px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  /* border: 2px solid rgb(28, 18, 172); */

}
.dockSvg {
  padding: 15px;
}
.dockSvg:hover {
  width: 55px;
  height: 55px;
}
/* Memory */
.Memory {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 409px;;
  height: 549px;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.Memory h2 {
  color: #FFF;
  padding-left: 10px;
}
.select {
  display: flex;
  padding: 10px;
  flex-direction: row;
}
.Memory p {
  font-size: 140%;
  color: white;
  padding-right: 10px;
}
.MemoryRow {
  display: flex;
  flex: 1;
  /* border: 2px solid rgb(224, 115, 65); */
  justify-content: space-around;
}
.Memory a:focus {
  border: 2px solid rgb(238, 255, 0);
}
.Memory .bottom {
  align-self: flex-end;
}
.memoryDivImg {
  display: flex;
  border: 3px solid rgb(0, 0, 0, 0);
  align-items: center;
}
#memoryContainer img {
  pointer-events: none;
  width: 100px;
  max-width: 100%;
}
#memoryContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 2px solid rgb(236, 223, 34); */
}
.removed {
  visibility: hidden;
}
/* Chat */
.Chat {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 402px;
  height: 381px;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.top {
  display: flex;
  color: #FFF;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  /* border: 2px solid rgb(198, 240, 15); */
}
.top h3 {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  /* border: 2px solid rgb(28, 18, 172); */
}
.closeButton {
  display: flex;
  align-self: flex-start;
  padding: 2px;
  /* border: 2px solid rgb(100, 245, 42); */
}
.messages {
  color: #FFF;
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex: 1;
}
.bottom {
  /* border: 2px solid rgb(28, 18, 172); */
  display: flex;
}
.messageArea {
  display: flex;
  flex: 1;
  border: 1px solid #FFF;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 7px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 32px;
  font-size: 18px;
  resize: none;
}
.message {
  display: flex;
  /* border: 2px solid rgb(28, 18, 172); */
  flex-direction: row;
  -webkit-user-select: text;
  -moz-user-select: text;
  word-break: break-all;
}
.author {
  white-space: nowrap;
  padding-right: 10px;
}
/* Weather */
.Weather {
  color: #FFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 410px;
  height: 394px;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.Weather h1 {
  font-size: 3em;
  align-self: center;
}
.Weather h2 {
  font-size: 2em;
}
.Weather .row {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.weatherContent {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#openWeatherPic {
  background-color: #FFF;
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
}
.Weather .bottom {
  align-self: flex-end;
}
/* Paint */
.Paint {
  color: #FFF;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 410px;
  height: 394px;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}
.Paint canvas {
  display: flex;
  flex: 1;
  background-color: #FFF;
}
.resize {
  display: flex;
  align-self: flex-end;
  padding: 4px;
}
.resize:hover {
  cursor: se-resize;
}
p {
  font-size: 100%;
}